<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p>
            <a class="label {{ item.badge }} " href="{{ item.homepage }}">
                {{ item.acronym }}
            </a>
            <a>
                {{ item.title }}
            </a>
            <br>
            <a>
                {{ item.authors }}
            </a>
            <br>
            <a >
                {{ item.proceeding }} (<strong>{{ item.acronym }}</strong>),
                {{ item.addr }},
                {{ item.date }}
            </a>
            <br>
            {% if item.others %}
                {% if item.others.arxiv %}
                    <a href="{{ item.others.arxiv }}">arxiv</a>
                {% endif %}
                {% if item.others.slides %}
                    <a href="{{ item.others.slides }}">slides</a>
                {% endif %}
                {% if item.others.presentation %}
                    <a href="{{ item.others.presentation }}">presentation</a>
                {% endif %}
            {% endif %}
        </p>
      {% endfor %}
    {% endif %}
  </div>
</div>
