 <style>
    .badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    }

    .badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    }

    .badge-error {
    background-color: #b94a48;
    }

    .badge-error:hover {
    background-color: #953b39;
    }

    .badge-warning {
    background-color: #f89406;
    }

    .badge-warning:hover {
    background-color: #c67605;
    }

    .badge-success {
    background-color: #468847;
    }

    .badge-success:hover {
    background-color: #356635;
    }

    .badge-info {
    background-color: #3a87ad;
    }

    .badge-info:hover {
    background-color: #2d6987;
    }

    .badge-inverse {
    background-color: #333333;
    }

    .badge-inverse:hover {
    background-color: #1a1a1a;
    }
</style>

<span class="badge">1</span>
<span class="badge badge-success">2</span>
<span class="badge badge-warning">4</span>
<span class="badge badge-error">6</span>
<span class="badge badge-info">8</span>
<span class="badge badge-inverse">10</span>

<span class="label label-default">Edit History</span>
<span class="papericon toptier">Top Conf.</span>



<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <a class="label {{ item.label }}" href="{{ item.homepage }}" style="display:inline-block">
            {{ item.acronym }}
        </a>
        <a><strong>{{ item.title }}</strong></a>

        <br>

        <a>
            {{ item.authors }}
        </a>

        <br>

        <a >
            {{ item.proceeding }} (<strong>{{ item.acronym }}</strong>),
            {{ item.place }},
            {{ item.date }}
        </a>
        <br>
        {% if item.others %}
            {% if item.others.arxiv %}
                <a href="{{ item.others.arxiv }}"><strong>arxiv</strong></a><span> </span>
            {% endif %}
            {% if item.others.proceeding %}
                <a href="{{ item.others.proceeding }}"><strong>proceeding</strong></a><span> </span>
            {% endif %}
            {% if item.others.slides %}
                <a href="{{ item.others.slides }}"><strong>slides</strong></a><span> </span>
            {% endif %}
            {% if item.others.poster %}
                <a href="{{ item.others.poster }}"><strong>poster</strong></a><span> </span>
            {% endif %}
            {% if item.others.presentation %}
                <a href="{{ item.others.presentation }}"><strong>presentation</strong></a>
            {% endif %}
        {% endif %}
        <br>
        <br>
      {% endfor %}
    {% endif %}
  </div>
</div>