---
layout: default
---

<div class="container">

    <div class="media">
        <img class="align-self-center mr-3" src="{{ site.github.url }}/assets/img/doggo-in-bag.jpg" alt="Taehyun Kim" width="150px" height="200px">
        <div class="media-body">
            <h3 class="mt-0">Taehyun Kim</h3>

            Ph.D. Candidate<br>
            <a href="https://ece.snu.ac.kr/en">Electrical and Computer Engineering</a><br>
            <a href="https://en.snu.ac.kr">Seoul National University</a><br>
            Building 104-1, Room 306-4<br>
            <a href="mailto:taehyunzzz@snu.ac.kr">taehyunzzz@snu.ac.kr</a><br>
            <a href="https://scholar.google.com/citations?user=ZlCHolkAAAAJ&hl=ko&oi=sra">Google Scholar</a> |
            <a href="https://www.linkedin.com/in/taehyun-kim-887601168/">LinkedIn</a>
        </div>
    </div>

    <br>

    <div class="row g-5 mb-5">
        <div class="col-md-12">
            <h3 class="fw-bold">Greetings!</h3>
            {{ content }}
        </div>
    </div>
    
    {% include publications.html %}
    
    <!-- <div class="row g-5 mb-5">
        <div class="col-md-12">
            <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
            {% for post in site.posts %}
            <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}
            </p>
            {% endfor %}
        </div>
    </div> -->

</div>
