---
layout: default
---

<div class="container">

    <div class="media-body">
        
        <!-- image -->
        <a class="pull-right hidden-xs" href="#">
          <img src="doggo-in-bag.jpg" alt="Taehyun Kim" class="img-rounded" width="130px" height="160px">
        </a>

        <!-- info -->
        <h3 class="media-heading">Taehyun Kim</h3>
        Ph.D. Candidate <br>
        <a href="https://ece.snu.ac.kr/en">Electrical and Computer Engineering</a><br>
        <a href="https://en.snu.ac.kr">Seoul National University</a><br>
        <a href="mailto:taehyunzzz@snu.ac.kr">taehyunzzz@snu.ac.kr</a>
        <!-- <a href="https://scholar.google.com/citations?user=4U65ziwAAAAJ&amp;hl=en">Google Scholar</a> |
        <a href="http://www.informatik.uni-trier.de/~ley/pers/hd/s/Sim:Jaewoong.html">DBLP</a> |
        <a href="https://www.linkedin.com/in/jaewoongsim">LinkedIn</a> -->
    </div>

    <div class="row g-5 mb-5">
        <div class="col-md-6">
            <h3 class="fw-bold">Greetings!</h3>
            {{ content }}
        </div>
    </div>
    
    {% include publications.html %}
    
    <div class="row g-5 mb-5">
        <div class="col-md-12">
            <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
            {% for post in site.posts %}
            <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}
            </p>
            {% endfor %}
        </div>
    </div>

</div>
